* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat-Light', sans-serif;
	overflow: hidden;
}

	nav {
		position: relative;
		height: 7vh;
		width: 40%;
		margin: auto;
		background-color: #6300e1;
		color: #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav div.logo {
		position: relative;
		left: 5%;
		background-image: url(img/onlyTDark.png);
		background-size: cover;
		width: 30px;
		height: 30px;
		background-color: #fff;
	}

	nav div.logo h3 {
		background-color: #000;
		margin: -5px 0 0 40px;
		font-size: 10px;
		font-family: 'Montserrat-Bold', sans-serif;
	}

	nav ul {
		font-family: 'Montserrat-Bold', sans-serif;
		display: flex;
		justify-content: space-around;
		list-style: none;
		font-size: 10px;
		width: 75%;
	}

	nav ul li a {
		text-decoration: none;
		color: #fff;
	}

	/* column 1 */

	div.column1 {
		position: relative;
		width: 40%;
		margin: auto;
		height: 35vh;
		background-color: #fefcf8;
		color: #000;
		z-index: -2;
	}

	p.screen-size {
		position: absolute;
		left: 15%;
		font-size: 12px;
		color: #fff;
	}

	/* lineart */

	.column1 .lineart {
		position: absolute;
		z-index: -1; 
		background-image: url(img/element.png);
		background-size: cover;
		width: 350px;
		height: 350px;
		top: -50%;
		left: -15%;
	}

	.column1 .content {
		position: relative;
		top: 10%;
		left: 55%;
		width: 40%;
	}

	.column1 .content h2 {
		font-size: 20px;
		font-family: 'Montserrat-Bold', sans-serif;
	}

	.column1 .content p {
		font-size: 10px;
		margin-top: 10px;
	}

	.column1 button {
		color: #f1f1f1;
		font-weight: bold;
		border: none;
		padding: 3px 5px;
		margin-top: 5px;
		border-radius: 1.5px;
		background-color: #ff009d;
		font-size: 9px;
	}

	/* column 2 */

	div.column2 {
		position: relative;
		width: 40%;
		margin: auto;
		height: 35vh;
		background-color: #f3ebce;
	}

	.column2 .content {
		position: relative;
		top: 15%;
		left: 5%;
		width: 40%;
	}

	.column2 .content h2 {
		font-size: 20px;
		font-family: 'Montserrat-Bold', sans-serif;
	}

	.column2 .content p {
		font-size: 10px;
		margin-top: 12px;
	}

	.column2 a {
		color: #ff009d;
		font-size: 10px;
		padding: 1px;
		margin-top: 5px;
		border-bottom: 1px solid #ff009d;
	}

	.column2 .card {
		position: absolute;
		width: 120px;
		height: 150px;
		background-color: #6400e1;
		top: 5%;
		right: 10%;
	}

	.column2 .card:after {
		content: '';
		position: absolute;
		width: 120px;
		height: 150px;
		background-color: #fff;
		background-image: url(img/laptop.jpg);
		background-size: cover;
		background-position: center;
		top: 5%;
		right: 15%;
	}

	/* column 3 */

	div.column3 {
		position: relative;
		width: 40%;
		margin: auto;
		height: 23vh;
		background-color: #120e19;
	}

	.column3 .content {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: #fff;
	}

	.column3 .content h2 {
		font-family: 'Montserrat-Bold', sans-serif;
		font-size: 15px;
	}

	.column3 .content button {
		color: #f1f1f1;
		font-weight: bold;
		border: none;
		padding: 5px 7px;
		margin-top: 15px;
		background-color: #ff009d;
		font-size: 10px;
		border-radius: 1.5px;
	}

	.column3 .content .mouse {
		margin: 15px auto 0;
		transform: translate(10%, 0);
		width: 40px;
		height: 40px;
		background-image: url(img/clicker.png);
		background-size: cover;
		background-position: center;
	}


/* Responsive Breakpoint */

/* ukuran mobile */

@media screen and (max-width: 576px) {

	nav {
		width: 100%;
	}

	/* column 1 */

	div.column1 {
		width: 100%;
	}

	/* column 2 */

	div.column2 {
		width: 100%;
	}

	/* column 3 */

	div.column3 {
		width: 100%;
	}
}




@font-face {

	font-family: 'Montserrat-Bold';
	src: url(font/Montserrat-Bold.woff);
}

@font-face {

	font-family: 'Montserrat-Light';
	src: url(font/Montserrat-Light.woff);
}

@font-face {

	font-family: 'Montserrat-Regular';
	src: url(font/Montserrat-Regular.woff);
}